@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --main-color: #0a3871;
}


body{
    background-color: #F3F5FC;
    font-family: 'Roboto', sans-serif;
}

/* INDEX HEADER */

header {
    width: 96%;
    margin: 0 auto;
    padding: 16px 0;
}

header img {
    width: 40px;
}

/* INDEX MAIN */
    
main {
    width: 96%;
    margin: 0 auto;
}

/* INPUT */

.in {
    margin: 24px 0;
}

.in textarea {
    font-family: 'Roboto';
    display: block;
    margin-bottom: 16px;
    padding: 0;
    width: 100%;
    height: 194px;
    border: none;
    font-size: 32px;
    hyphens: auto;
    color: var(--main-color);
    resize: none;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    box-sizing: border-box;
}

.in textarea::placeholder {
    color: var(--main-color);
}

.in span i {
    display: inline-block;
    padding: 2px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    text-align: center;
    color: white;
    background-color: #444;
}

.in span {
    font-size: 16px;
}

/* BUTTONS */

.buttons {
    display: block;
}

.encode, .decode {
    width: 100%;
    height: 64px;
    font-size: 24px;
    color: white;
    letter-spacing: 1.5px;
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 24px;
    transition: ease-in-out 200ms;
    cursor: pointer;
}

.decode {
    margin-top: 16px;
    color: var(--main-color);
    background-color: transparent;
}

.encode:hover, .decode:hover {
    transform: scale(1.015);
}

/* OUTPUT */

.out {
    margin: 24px 0;
    background-color: white;
    border-radius: 24px;
    padding: 16px;
    box-sizing: border-box;
}

.text {
    width: 100%;
    font-size: 32px;
    hyphens: auto;
    color: var(--main-color);
    box-sizing: border-box;
}

.out.empty {
    display: flex;
    justify-content: center;
    align-items: center;
}

.out.full .message {
    display: none;
}

.message p:first-child {
    text-align: center;
    letter-spacing: 1.5px;
    color: #343440;
    font-size: 28px;
    font-weight: bold;
}

.message p:last-child {
    margin: 16px;
    color: #495057;
    word-break: keep-all;
    font-size: 20px;
    text-align: center;
}

.out.empty .copy {
    display: none;
}

.out.full .copy {
    margin: 24px 0 0;
    width: 100%;
    height: 64px;
    font-size: 24px;
    color: var(--main-color);
    letter-spacing: 1.5px;
    background-color: white;
    border: 2px solid var(--main-color);
    border-radius: 24px;
    transition: background ease-in-out 200ms;
    cursor: pointer;
}

.out.full .copy:hover {
    background-color: var(--main-color);
    color: white;
}

/* RESPONSIVE CSS */

@media screen and (min-width: 768px) {
    .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px; 
    }

    .decode {
        margin: 0;
    }
}

@media screen and (min-width: 1280px) {
    .fields {
        min-height: 70vh;
        display: grid;
        gap: 8px;
        grid-template-columns: 65% 35%;
        grid-template-rows: 1fr 80px;
    }

    .in {
        margin: 0;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        position: relative;
    }

    .in textarea {
        height: 100%;
        margin-bottom: 32px;
    }

    .in span {
        position: absolute;
        bottom: 0;
    }

    .out.full, .out.empty {
        margin: 0;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
        position: relative;
    }

    .buttons {
        gap: 8px;
        justify-content: center;
        align-items: center;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .out.full .copy {
        position: absolute;
        width: 95%;
        bottom: 8px;
        left: 50%;
        transform: translateX(-50%);
        box-sizing: border-box;
        transition: ease-in-out 200ms;
    }
}

